{
  "ignorePatterns": ["*.generated.ts"],
  "env": {
    "browser": true,
    "es2021": true
  },
  "extends": [
    "plugin:react/recommended",
    "airbnb",
    "plugin:@typescript-eslint/recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:import/typescript",
    "plugin:import/errors",
    "prettier"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "plugins": ["react", "@typescript-eslint", "react-hooks"],
  "settings": {
    "import/extensions": [".js", ".jsx", ".ts", ".tsx"],
    "import/parsers": {
      "@typescript-eslint/parser": [".ts", ".tsx"]
    }
  },
  "rules": {
    "no-debugger": "warn",
    "no-plusplus": "off",
    "indent": "off",
    "@typescript-eslint/indent": "off",
    "@typescript-eslint/ban-ts-comment": "off",
    "no-shadow": "off",
    "@typescript-eslint/no-shadow": "error",
    "react/destructuring-assignment": "off",
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "ts": "never",
        "tsx": "never"
      }
    ],
    "react/jsx-filename-extension": ["error", { "extensions": [".ts", ".tsx"] }],
    "no-use-before-define": "off",
    "@typescript-eslint/no-use-before-define": ["off"],
    "@typescript-eslint/no-non-null-assertion": "off",
    "import/prefer-default-export": "off",
    "import/no-default-export": "error",
    "react-hooks/rules-of-hooks": "error",
    "react/jsx-props-no-spreading": "off",
    "react/prop-types": "off",
    "react/require-default-props": "off",
    "max-len": [
      "error",
      {
        "code": 130,
        "ignoreStrings": true,
        "ignoreTemplateLiterals": true,
        "ignoreTrailingComments": true,
        "ignoreComments": true
      }
    ],
    "consistent-return": "off",
    "import/no-cycle": "off",
    "import/no-absolute-path": "error",
    "camelcase": "off",
    "implicit-arrow-linebreak": "off",
    "object-curly-newline": "off",
    "no-nested-ternary": "off"
  },
  "overrides": [
    {
      "files": ["**/*.page.tsx"],
      "rules": {
        "import/prefer-default-export": "error",
        "import/no-default-export": "off"
      }
    },
    {
      "files": ["**/*.viewmodel.ts", "**/*.service.ts", "**/use*.ts"],
      "rules": {
        "@typescript-eslint/explicit-module-boundary-types": ["off"]
      }
    },
    {
      "files": ["**/*.slice.ts", "**/*.reducer.ts"],
      "rules": {
        "no-param-reassign": "off"
      }
    }
  ]
}
